In [1]:
import pandas as pd
import io
import cache_magic
import numpy as np
import requests

%cache magic is now registered in ipython

In [2]:
def filter_out_regions(df, series_code):
    df = df[df['Series Code'] == series_code]
    zimbabwe_index = np.where(df['Country Name'] == 'Zimbabwe')[0]
    zimbabwe_index = int(zimbabwe_index)
    zimbabwe_index = zimbabwe_index + 1
    df = df[:zimbabwe_index]
    
    return df

In [3]:
df_fin = pd.read_csv(r'processed_data/fin_df.csv')

In [4]:
df_fin

,iso3,country,income_level,inequality_level,gnipc,gini,gnipc_year,gini_year,1990-Female,1990-Male,...,2016-Female,2016-Male,2017-Female,2017-Male,2018-Female,2018-Male,2019-Female,2019-Male,2020-Female,2020-Male
0,ABW,Aruba,high,NaN,29390.0,NaN,2021-01-01,NaN,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,low,low,390.0,29.4,2021-01-01,2008-01-01,NaN,NaN,...,0.59,12.19,0.75,12.28,0.85,12.16,NaN,NaN,NaN,NaN
2,AGO,Angola,low,high,1710.0,51.3,2021-01-01,2018-01-01,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,Albania,low,low,6110.0,30.8,2021-01-01,2019-01-01,NaN,NaN,...,1.20,4.22,0.92,3.06,1.06,3.47,0.92,3.55,0.64,3.55
4,AND,Andorra,high,NaN,46530.0,NaN,2019-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,XKX,Kosovo,low,low,5130.0,29.0,2021-01-01,2017-01-01,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,YEM,"Yemen, Rep.",low,high,840.0,36.7,2018-01-01,2014-01-01,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,ZAF,South Africa,high,high,6530.0,63.0,2021-01-01,2014-01-01,NaN,NaN,...,9.27,59.05,10.14,61.96,9.46,64.10,NaN,NaN,NaN,NaN
205,ZMB,Zambia,low,high,1030.0,57.1,2021-01-01,2015-01-01,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,ZWE,Zimbabwe,low,high,1530.0,50.3,2021-01-01,2019-01-01,3.49,7.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_wb = pd.read_csv(r'processed_data/wb_downloads/wb_download.csv')

In [6]:
df_wb_gni = filter_out_regions(df_wb, 'NY.GNP.PCAP.CD')
df_wb_gni

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
266,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Afghanistan,AFG,..,650,680,650,610,570,540,520,530,500,390
267,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Albania,ALB,1100,4360,4540,4540,4390,4320,4290,4860,5230,5260,6110
268,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Algeria,DZA,1610,5220,5540,5510,4880,4400,3970,4010,4050,3600,3660
269,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..
270,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Andorra,AND,..,..,..,..,..,..,..,..,46530,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Virgin Islands (U.S.),VIR,..,..,..,..,..,..,..,..,..,..,..
479,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,West Bank and Gaza,PSE,1550,3210,3470,3560,3670,3900,3930,4190,4270,3700,4220
480,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,"Yemen, Rep.",YEM,400,1180,1340,1360,1110,1070,1000,840,..,..,..
481,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Zambia,ZMB,350,1660,1720,1760,1540,1340,1270,1400,1390,1130,1030
482,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Zimbabwe,ZWE,360,1120,1200,1210,1220,1200,1170,1550,1450,1460,1530

In [7]:
df_wb_gini = filter_out_regions(df_wb, 'SI.POV.GINI')
df_wb_gini

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Gini index,SI.POV.GINI,Afghanistan,AFG,..,..,..,..,..,..,..,..,..,..,..
1,Gini index,SI.POV.GINI,Albania,ALB,..,29,..,34.6,32.8,33.7,33.1,30.1,30.8,..,..
2,Gini index,SI.POV.GINI,Algeria,DZA,..,..,..,..,..,..,..,..,..,..,..
3,Gini index,SI.POV.GINI,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..
4,Gini index,SI.POV.GINI,Andorra,AND,..,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Gini index,SI.POV.GINI,Virgin Islands (U.S.),VIR,..,..,..,..,..,..,..,..,..,..,..
213,Gini index,SI.POV.GINI,West Bank and Gaza,PSE,..,..,..,..,..,33.7,..,..,..,..,..
214,Gini index,SI.POV.GINI,"Yemen, Rep.",YEM,..,..,..,36.7,..,..,..,..,..,..,..
215,Gini index,SI.POV.GINI,Zambia,ZMB,..,..,..,..,57.1,..,..,..,..,..,..
216,Gini index,SI.POV.GINI,Zimbabwe,ZWE,..,..,..,..,..,..,44.3,..,50.3,..,..

## Sampling

In [8]:
country = df_fin.sample(1).iso3
df_eco_test = df_fin[df_fin['iso3'].isin(country)]
df_eco_test =df_eco_test.set_index('iso3')
df_eco_test = df_eco_test[df_eco_test.columns[[0,1,2,3,4,5,6]]]
df_eco_test =df_eco_test.melt(id_vars ='country')
df_eco_test

    country          variable       value
0  Cameroon      income_level         low
1  Cameroon  inequality_level        high
2  Cameroon             gnipc      1590.0
3  Cameroon              gini        46.6
4  Cameroon        gnipc_year  2021-01-01
5  Cameroon         gini_year  2014-01-01

In [9]:
df_wb_gni_test = df_wb_gni[df_wb_gni['Country Code'].isin(country)]
df_wb_gni_test = df_wb_gni_test[df_wb_gni_test.columns[2:]]
df_wb_gni_test =df_wb_gni_test.melt(id_vars ='Country Name')
df_wb_gni_test

   Country Name       variable value
0      Cameroon   Country Code   CMR
1      Cameroon  2000 [YR2000]   720
2      Cameroon  2012 [YR2012]  1450
3      Cameroon  2013 [YR2013]  1510
4      Cameroon  2014 [YR2014]  1570
5      Cameroon  2015 [YR2015]  1520
6      Cameroon  2016 [YR2016]  1450
7      Cameroon  2017 [YR2017]  1400
8      Cameroon  2018 [YR2018]  1500
9      Cameroon  2019 [YR2019]  1540
10     Cameroon  2020 [YR2020]  1520
11     Cameroon  2021 [YR2021]  1590

In [10]:
df_wb_gini_test = df_wb_gini[df_wb_gini['Country Code'].isin(country)]
df_wb_gini_test = df_wb_gini_test[df_wb_gini.columns[2:]]
df_wb_gini_test =df_wb_gini_test.melt(id_vars ='Country Name')
df_wb_gini_test

   Country Name       variable value
0      Cameroon   Country Code   CMR
1      Cameroon  2000 [YR2000]    ..
2      Cameroon  2012 [YR2012]    ..
3      Cameroon  2013 [YR2013]    ..
4      Cameroon  2014 [YR2014]  46.6
5      Cameroon  2015 [YR2015]    ..
6      Cameroon  2016 [YR2016]    ..
7      Cameroon  2017 [YR2017]    ..
8      Cameroon  2018 [YR2018]    ..
9      Cameroon  2019 [YR2019]    ..
10     Cameroon  2020 [YR2020]    ..
11     Cameroon  2021 [YR2021]    ..

In [11]:
df_fem_test = df_fin[df_fin['iso3'].isin(country)]
df_fem_test =df_fem_test.set_index(['iso3', 'country'])
df_fem_test = df_fem_test[df_fem_test.columns[6:]]
df_fem_test =df_fem_test.reset_index()
df_fem_test =df_fem_test.melt(id_vars = 'country')
df_fem_test =df_fem_test[1:]
df_fem_test[['year', 'type']] = df_fem_test['variable'].str.split('-', expand=True)
df_fem_test = df_fem_test.pivot(index=['country', 'year'], columns='type', values='value')
df_fem_test = df_fem_test.dropna()

In [12]:
url = 'https://raw.githubusercontent.com/Tom-Whittington/Femicide_analysis/main/processed_data/original_femicide_data.csv'
download = requests.get(url).content
df_fem = pd.read_csv(io.StringIO(download.decode('utf-8')),
                dtype={'iso3_code' : 'category',
                           'Region' : 'category',
                           'Subregion' : 'category',
                           'country' : 'category',
                           'Indicator' : 'category',
                           'Disaggregation' : 'category',
                           'Gender' : 'category',
                           'Source' : 'category',
                           'Unit' : 'category',
                          'Year' : 'string'})

In [13]:
df_fem_orig = df_fem[df_fem['iso3_code'].isin(country)]
df_fem_orig = df_fem_orig[df_fem_orig['Unit'] != 'Count']
df_fem_orig = df_fem_orig.loc[(df_fem_orig['Gender'] == 'Male') | (df_fem_orig['Gender'] == 'Female')]
df_fem_orig = df_fem_orig[df_fem_orig['Disaggregation'] == '-']
df_fem_orig = df_fem_orig.pivot(index=['country', 'Year'], columns='Gender', values='Value')

In [14]:
df_fem_orig, df_fem_test

(Gender        Female  Male
 country  Year
 Cameroon 2014    0.8  1.07
          2015      1  1.31
          2016   0.89  1.41,
 type          Female  Male
 country  year
 Cameroon 2014    0.8  1.07
          2015    1.0  1.31
          2016   0.89  1.41)