In [82]:
import pandas as pd
import numpy as np
import requests
import io
import wbgapi as wb
from bs4 import BeautifulSoup
import cache_magic

# Old Femicide data import

In [83]:
url = 'https://raw.githubusercontent.com/Tom-Whittington/Femicide_analysis/main/processed_data/original_femicide_data.csv'

In [84]:
%cache download = requests.get(url).content

loading cached value for variable 'download'. Time since pickling  146 days, 15:39:13.332832

In [85]:
df_old_fem = pd.read_csv(io.StringIO(download.decode('utf-8')),
                dtype={'iso3_code' : 'category',
                           'Region' : 'category',
                           'Subregion' : 'category',
                           'country' : 'category',
                           'Indicator' : 'category',
                           'Disaggregation' : 'category',
                           'Gender' : 'category',
                           'Source' : 'category',
                           'Unit' : 'category',
                          'Year' : 'string'})
df_old_fem

,Region,Subregion,country,iso3_code,Indicator,Disaggregation,Gender,Source,Unit,Year,Value,Footnote
0,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2009,1115,NaN
1,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2009,3.93,NaN
2,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2010,983,NaN
3,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2010,3.37,NaN
4,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2011,1231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24387,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2006,8.82,NaN
24388,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2010,711,NaN
24389,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2010,5.6,NaN
24390,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2012,981,NaN
24391,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2012,7.48,NaN

1. NY.GNP.PCAP.CD = Gross national income per capita
2. SI.POV.GINI = GINI coefficient
3. VC.IHR.PSRC.FE.P5 = Intentional homicides, female (per 100,000 female)
4. SH.STA.SUIC.FE.P5 = Suicide mortality rate, female (per 100,000 female population)
5. SH.MMR.DTHS = Number of maternal deaths (raw)
6. SH.PRV.SMOK.FE = Prevalence of current tobacco use, females (% of female adults)
7. SP.POP.TOTL.FE.IN = Population, female

In [86]:
%cache df_wb = wb.data.DataFrame(['NY.GNP.PCAP.CD','SI.POV.GINI','VC.IHR.PSRC.FE.P5', 'SH.STA.SUIC.FE.P5', 'SH.MMR.DTHS','SP.POP.TOTL.FE.IN' ], time=range(1990,2023), labels=True, skipBlanks =True, columns='series', skipAggs=True)
df_wb

loading cached value for variable 'df_wb'. Time since pickling  0:21:46.688520

                    Country  Time  NY.GNP.PCAP.CD  SH.MMR.DTHS  \
economy time
ZWE     YR2022     Zimbabwe  2022          1500.0          NaN
        YR2021     Zimbabwe  2021          1530.0          NaN
        YR2020     Zimbabwe  2020          1460.0       1700.0
        YR2019     Zimbabwe  2019          1450.0       1900.0
        YR2018     Zimbabwe  2018          1550.0       1700.0
...                     ...   ...             ...          ...
AFG     YR1994  Afghanistan  1994             NaN          NaN
        YR1993  Afghanistan  1993             NaN          NaN
        YR1992  Afghanistan  1992             NaN          NaN
        YR1991  Afghanistan  1991             NaN          NaN
        YR1990  Afghanistan  1990             NaN          NaN

                SH.PRV.SMOK.FE  SH.STA.SUIC.FE.P5  SI.POV.GINI  \
economy time
ZWE     YR2022             NaN                NaN          NaN
        YR2021             NaN                NaN          NaN
        YR2020             1.5                NaN          NaN
        YR2019             1.6                8.8         50.3
        YR2018             1.7                8.7          NaN
...                        ...                ...          ...
AFG     YR1994             NaN                NaN          NaN
        YR1993             NaN                NaN          NaN
        YR1992             NaN                NaN          NaN
        YR1991             NaN                NaN          NaN
        YR1990             NaN                NaN          NaN

                SP.POP.TOTL.FE.IN  VC.IHR.PSRC.FE.P5
economy time
ZWE     YR2022          8614935.0                NaN
        YR2021          8449834.0           1.869859
        YR2020          8284447.0           1.762339
        YR2019          8122618.0           2.055987
        YR2018          7966181.0           2.046150
...                           ...                ...
AFG     YR1994          7722096.0                NaN
        YR1993          7000119.0                NaN
        YR1992          6028939.0                NaN
        YR1991          5372208.0                NaN
        YR1990          5346409.0                NaN

[7161 rows x 9 columns]

In [87]:
df_wb = df_wb.reset_index()

df_wb = df_wb.rename(columns={'economy':'iso3',
                        'Time':'year',
                        'NY.GNP.PCAP.CD':'gnipc',
                        'SI.POV.GINI':'gini',
                        'Country':'country',
                        'SH.MMR.DTHS' : 'maternal deaths (count)',
                        'SH.PRV.SMOK.FE' : '% tobacco',
                        'VC.IHR.PSRC.FE.P5' : 'femicide/100k_fem',
                        'SH.STA.SUIC.FE.P5' : 'suicide mortality/100k_fem',
                        'SP.POP.TOTL.FE.IN' : 'fem_pop'})

df_wb = df_wb.drop(columns='time')
df_wb

,iso3,country,year,gnipc,maternal deaths (count),% tobacco,suicide mortality/100k_fem,gini,fem_pop,femicide/100k_fem
0,ZWE,Zimbabwe,2022,1500.0,NaN,NaN,NaN,NaN,8614935.0,NaN
1,ZWE,Zimbabwe,2021,1530.0,NaN,NaN,NaN,NaN,8449834.0,1.869859
2,ZWE,Zimbabwe,2020,1460.0,1700.0,1.5,NaN,NaN,8284447.0,1.762339
3,ZWE,Zimbabwe,2019,1450.0,1900.0,1.6,8.8,50.3,8122618.0,2.055987
4,ZWE,Zimbabwe,2018,1550.0,1700.0,1.7,8.7,NaN,7966181.0,2.046150
...,...,...,...,...,...,...,...,...,...,...
7156,AFG,Afghanistan,1994,NaN,NaN,NaN,NaN,NaN,7722096.0,NaN
7157,AFG,Afghanistan,1993,NaN,NaN,NaN,NaN,NaN,7000119.0,NaN
7158,AFG,Afghanistan,1992,NaN,NaN,NaN,NaN,NaN,6028939.0,NaN
7159,AFG,Afghanistan,1991,NaN,NaN,NaN,NaN,NaN,5372208.0,NaN
7160,AFG,Afghanistan,1990,NaN,NaN,NaN,NaN,NaN,5346409.0,NaN

In [88]:
df_wb = df_wb.astype({'iso3' : 'category',
                      'country' : 'category',
                      'gnipc' : 'float',
                      '% tobacco' : 'float',
                      'suicide mortality/100k_fem' : 'float',
                      'gini' : 'float',
                      'fem_pop' : 'int32',
                      'femicide/100k_fem' : 'float'})

df_wb['year'] = pd.to_datetime(df_wb['year'], format='%Y')

df_wb

,iso3,country,year,gnipc,maternal deaths (count),% tobacco,suicide mortality/100k_fem,gini,fem_pop,femicide/100k_fem
0,ZWE,Zimbabwe,2022-01-01,1500.0,NaN,NaN,NaN,NaN,8614935,NaN
1,ZWE,Zimbabwe,2021-01-01,1530.0,NaN,NaN,NaN,NaN,8449834,1.869859
2,ZWE,Zimbabwe,2020-01-01,1460.0,1700.0,1.5,NaN,NaN,8284447,1.762339
3,ZWE,Zimbabwe,2019-01-01,1450.0,1900.0,1.6,8.8,50.3,8122618,2.055987
4,ZWE,Zimbabwe,2018-01-01,1550.0,1700.0,1.7,8.7,NaN,7966181,2.046150
...,...,...,...,...,...,...,...,...,...,...
7156,AFG,Afghanistan,1994-01-01,NaN,NaN,NaN,NaN,NaN,7722096,NaN
7157,AFG,Afghanistan,1993-01-01,NaN,NaN,NaN,NaN,NaN,7000119,NaN
7158,AFG,Afghanistan,1992-01-01,NaN,NaN,NaN,NaN,NaN,6028939,NaN
7159,AFG,Afghanistan,1991-01-01,NaN,NaN,NaN,NaN,NaN,5372208,NaN
7160,AFG,Afghanistan,1990-01-01,NaN,NaN,NaN,NaN,NaN,5346409,NaN

In [89]:
df_wb = df_wb.set_index(['iso3', 'year'])

df_wb

                     country   gnipc  maternal deaths (count)  % tobacco  \
iso3 year
ZWE  2022-01-01     Zimbabwe  1500.0                      NaN        NaN
     2021-01-01     Zimbabwe  1530.0                      NaN        NaN
     2020-01-01     Zimbabwe  1460.0                   1700.0        1.5
     2019-01-01     Zimbabwe  1450.0                   1900.0        1.6
     2018-01-01     Zimbabwe  1550.0                   1700.0        1.7
...                      ...     ...                      ...        ...
AFG  1994-01-01  Afghanistan     NaN                      NaN        NaN
     1993-01-01  Afghanistan     NaN                      NaN        NaN
     1992-01-01  Afghanistan     NaN                      NaN        NaN
     1991-01-01  Afghanistan     NaN                      NaN        NaN
     1990-01-01  Afghanistan     NaN                      NaN        NaN

                 suicide mortality/100k_fem  gini  fem_pop  femicide/100k_fem
iso3 year
ZWE  2022-01-01                         NaN   NaN  8614935                NaN
     2021-01-01                         NaN   NaN  8449834           1.869859
     2020-01-01                         NaN   NaN  8284447           1.762339
     2019-01-01                         8.8  50.3  8122618           2.055987
     2018-01-01                         8.7   NaN  7966181           2.046150
...                                     ...   ...      ...                ...
AFG  1994-01-01                         NaN   NaN  7722096                NaN
     1993-01-01                         NaN   NaN  7000119                NaN
     1992-01-01                         NaN   NaN  6028939                NaN
     1991-01-01                         NaN   NaN  5372208                NaN
     1990-01-01                         NaN   NaN  5346409                NaN

[7161 rows x 8 columns]