In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'processed_data/original_femicide_data.csv',
                    dtype={'iso3_code' : 'category',
                           'Region' : 'category',
                           'Subregion' : 'category',
                           'country' : 'category',
                           'Indicator' : 'category',
                           'Disaggregation' : 'category',
                           'Gender' : 'category',
                           'Source' : 'category',
                           'Unit' : 'category',
                          'Year' : 'string'})
df

,Region,Subregion,country,iso3_code,Indicator,Disaggregation,Gender,Source,Unit,Year,Value,Footnote
0,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2009,1115,NaN
1,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2009,3.93,NaN
2,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2010,983,NaN
3,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2010,3.37,NaN
4,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2011,1231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24387,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2006,8.82,NaN
24388,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2010,711,NaN
24389,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2010,5.6,NaN
24390,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2012,981,NaN
24391,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2012,7.48,NaN

In [3]:
df.dtypes

Region            category
Subregion         category
country           category
iso3_code         category
Indicator         category
Disaggregation    category
Gender            category
Source            category
Unit              category
Year                string
Value               object
Footnote            object
dtype: object

In [4]:
df.columns = [col.lower() for col in df.columns]
df = df.rename(columns={'iso3_code' : 'iso3'})
df

,region,subregion,country,iso3,indicator,disaggregation,gender,source,unit,year,value,footnote
0,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2009,1115,NaN
1,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2009,3.93,NaN
2,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2010,983,NaN
3,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2010,3.37,NaN
4,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2011,1231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24387,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2006,8.82,NaN
24388,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2010,711,NaN
24389,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2010,5.6,NaN
24390,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2012,981,NaN
24391,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2012,7.48,NaN

In [5]:
df = df[df['gender'] != 'Male']
df

,region,subregion,country,iso3,indicator,disaggregation,gender,source,unit,year,value,footnote
0,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2009,1115,NaN
1,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2009,3.93,NaN
2,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2010,983,NaN
3,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2010,3.37,NaN
4,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2011,1231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24387,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2006,8.82,NaN
24388,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2010,711,NaN
24389,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2010,5.6,NaN
24390,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2012,981,NaN
24391,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2012,7.48,NaN

In [6]:
df = df[df['disaggregation'] == '-']

In [7]:
df

,region,subregion,country,iso3,indicator,disaggregation,gender,source,unit,year,value,footnote
0,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2009,1115,NaN
1,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2009,3.93,NaN
2,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2010,983,NaN
3,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2010,3.37,NaN
4,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2011,1231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24387,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2006,8.82,NaN
24388,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2010,711,NaN
24389,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2010,5.6,NaN
24390,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2012,981,NaN
24391,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2012,7.48,NaN

In [8]:
df = df[df['unit'] != 'Count']
df['gender'] = df['gender'].replace('Total (all ages)', 'total')
df['gender'] = df['gender'].str.lower()
df = df.sort_values(['year', 'gender', 'iso3'])
df['value'] = pd.to_numeric(df['value'], errors='coerce')
df

/tmp/ipykernel_17920/474165035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'] = df['gender'].replace('Total (all ages)', 'total')
/tmp/ipykernel_17920/474165035.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'] = df['gender'].str.lower()

,region,subregion,country,iso3,indicator,disaggregation,gender,source,unit,year,value,footnote
1193,Americas,Latin America and the Caribbean,Aruba,ABW,Homicide: # of victims,-,female,MD,"Rate per 100,000 population",1990,0.00,NaN
899,Asia,Western Asia,Armenia,ARM,Homicide: # of victims,-,female,UNECE,"Rate per 100,000 population",1990,1.25,NaN
675,Americas,Latin America and the Caribbean,Antigua and Barbuda,ATG,Homicide: # of victims,-,female,MD,"Rate per 100,000 population",1990,3.10,NaN
1295,Oceania,Australia and New Zealand,Australia,AUS,Homicide: # of victims,-,female,MD,"Rate per 100,000 population",1990,1.62,NaN
1561,Europe,Western Europe,Austria,AUT,Homicide: # of victims,-,female,MD,"Rate per 100,000 population",1990,0.99,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
22843,Africa,Northern Africa,Tunisia,TUN,Homicide: # of victims,-,total,External,"Rate per 100,000 population",2020,4.76,NaN
23141,Africa,Sub-Saharan Africa,Uganda,UGA,Homicide: # of victims,-,total,External,"Rate per 100,000 population",2020,9.75,NaN
23733,Americas,Northern America,United States of America,USA,Homicide: # of victims,-,total,FBI,"Rate per 100,000 population",2020,6.28,NaN
24135,Oceania,Melanesia,Vanuatu,VUT,Homicide: # of victims,-,total,External,"Rate per 100,000 population",2020,0.33,NaN
21207,Africa,Sub-Saharan Africa,South Africa,ZAF,Homicide: # of victims,-,total,NP,"Rate per 100,000 population",2020,33.46,NaN

In [9]:
df = df.pivot(index='iso3', columns=['year', 'gender'], values='value')

In [10]:
df.columns = ['-'.join(col) for col in df.columns]

In [11]:
df

,1990-female,1990-total,1991-female,1991-total,1992-female,1992-total,1993-female,1993-total,1994-female,1994-total,...,2016-female,2016-total,2017-female,2017-total,2018-female,2018-total,2019-female,2019-total,2020-female,2020-total
iso3,,,,,,,,,,,,,,,,,,,,,
ABW,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.59,6.55,0.75,6.68,0.85,6.66,NaN,NaN,NaN,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AIA,NaN,0.00,NaN,10.94,NaN,0.00,NaN,10.54,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,NaN,NaN,NaN,NaN,0.87,4.01,1.0,5.98,0.75,3.56,...,1.20,2.74,0.92,2.01,1.06,2.29,0.92,2.26,0.64,2.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.58,NaN,6.63,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.01,...,9.27,33.83,10.14,35.67,9.46,36.40,NaN,36.42,NaN,33.46
ZMB,NaN,6.84,NaN,8.29,NaN,9.09,NaN,8.61,NaN,9.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,3.49,5.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_eco = pd.read_csv(r'processed_data/eco_dicot.csv', index_col='iso3')
df_eco

,country,income_level,inequality_level,gnipc,gini,gnipc_year,gini_year
iso3,,,,,,,
ABW,Aruba,high,NaN,29390.0,NaN,2021-01-01,NaN
AFG,Afghanistan,low,low,390.0,29.4,2021-01-01,2008-01-01
AGO,Angola,low,high,1710.0,51.3,2021-01-01,2018-01-01
ALB,Albania,low,low,6110.0,30.8,2021-01-01,2019-01-01
AND,Andorra,high,NaN,46530.0,NaN,2019-01-01,NaN
...,...,...,...,...,...,...,...
XKX,Kosovo,low,low,5130.0,29.0,2021-01-01,2017-01-01
YEM,"Yemen, Rep.",low,high,840.0,36.7,2018-01-01,2014-01-01
ZAF,South Africa,high,high,6530.0,63.0,2021-01-01,2014-01-01
ZMB,Zambia,low,high,1030.0,57.1,2021-01-01,2015-01-01
ZWE,Zimbabwe,low,high,1530.0,50.3,2021-01-01,2019-01-01

In [13]:
df = df_eco.merge(df, how='right', left_index=True, right_index=True)
df

,country,income_level,inequality_level,gnipc,gini,gnipc_year,gini_year,1990-female,1990-total,1991-female,...,2016-female,2016-total,2017-female,2017-total,2018-female,2018-total,2019-female,2019-total,2020-female,2020-total
iso3,,,,,,,,,,,,,,,,,,,,,
ABW,Aruba,high,NaN,29390.0,NaN,2021-01-01,NaN,0.00,0.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,Afghanistan,low,low,390.0,29.4,2021-01-01,2008-01-01,NaN,NaN,NaN,...,0.59,6.55,0.75,6.68,0.85,6.66,NaN,NaN,NaN,NaN
AGO,Angola,low,high,1710.0,51.3,2021-01-01,2018-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Albania,low,low,6110.0,30.8,2021-01-01,2019-01-01,NaN,NaN,NaN,...,1.20,2.74,0.92,2.01,1.06,2.29,0.92,2.26,0.64,2.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,Samoa,low,high,3810.0,38.7,2021-01-01,2013-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,3.58,NaN,6.63,NaN,NaN,NaN,NaN
YEM,"Yemen, Rep.",low,high,840.0,36.7,2018-01-01,2014-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,South Africa,high,high,6530.0,63.0,2021-01-01,2014-01-01,NaN,NaN,NaN,...,9.27,33.83,10.14,35.67,9.46,36.40,NaN,36.42,NaN,33.46
ZMB,Zambia,low,high,1030.0,57.1,2021-01-01,2015-01-01,NaN,6.84,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,Zimbabwe,low,high,1530.0,50.3,2021-01-01,2019-01-01,3.49,5.63,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df = df.dropna(subset='country')
df

,country,income_level,inequality_level,gnipc,gini,gnipc_year,gini_year,1990-female,1990-total,1991-female,...,2016-female,2016-total,2017-female,2017-total,2018-female,2018-total,2019-female,2019-total,2020-female,2020-total
iso3,,,,,,,,,,,,,,,,,,,,,
ABW,Aruba,high,NaN,29390.0,NaN,2021-01-01,NaN,0.00,0.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,Afghanistan,low,low,390.0,29.4,2021-01-01,2008-01-01,NaN,NaN,NaN,...,0.59,6.55,0.75,6.68,0.85,6.66,NaN,NaN,NaN,NaN
AGO,Angola,low,high,1710.0,51.3,2021-01-01,2018-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Albania,low,low,6110.0,30.8,2021-01-01,2019-01-01,NaN,NaN,NaN,...,1.20,2.74,0.92,2.01,1.06,2.29,0.92,2.26,0.64,2.12
AND,Andorra,high,NaN,46530.0,NaN,2019-01-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,Samoa,low,high,3810.0,38.7,2021-01-01,2013-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,3.58,NaN,6.63,NaN,NaN,NaN,NaN
YEM,"Yemen, Rep.",low,high,840.0,36.7,2018-01-01,2014-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,South Africa,high,high,6530.0,63.0,2021-01-01,2014-01-01,NaN,NaN,NaN,...,9.27,33.83,10.14,35.67,9.46,36.40,NaN,36.42,NaN,33.46
ZMB,Zambia,low,high,1030.0,57.1,2021-01-01,2015-01-01,NaN,6.84,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,Zimbabwe,low,high,1530.0,50.3,2021-01-01,2019-01-01,3.49,5.63,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv(r'processed_data/fin_df.csv