In [23]:
import pandas as pd

In [24]:
df_raw = pd.read_excel(r'raw_data/homicide_country_download.xlsx')

In [25]:
df =df_raw[df_raw['Gender'] == 'Female']

In [26]:
df

,Region,Subregion,country,iso3_code,Indicator,Disaggregation,Gender,Source,Unit,Year,Value,Footnote
8,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2015,93,NaN
9,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,"Rate per 100,000 population",2015,0.56,NaN
14,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2016,101,NaN
15,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,"Rate per 100,000 population",2016,0.59,NaN
20,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2017,133,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24285,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,"Rate per 100,000 population",2016,5.36,NaN
24290,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,Count,2017,788,NaN
24291,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,"Rate per 100,000 population",2017,5.31,NaN
24372,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Female,MD,Count,1990,183,NaN
24373,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Female,MD,"Rate per 100,000 population",1990,3.49,NaN

In [27]:
df_count = df[df['Unit']== 'Count']

In [28]:
df_count

,Region,Subregion,country,iso3_code,Indicator,Disaggregation,Gender,Source,Unit,Year,Value,Footnote
8,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2015,93,NaN
14,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2016,101,NaN
20,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2017,133,NaN
26,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2018,153,NaN
32,Europe,Southern Europe,Albania,ALB,Homicide: # of victims,-,Female,MD,Count,1992,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24272,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,MD,Count,2012,940,NaN
24278,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,Count,2015,731,NaN
24284,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,Count,2016,806,NaN
24290,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,Count,2017,788,NaN
24372,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Female,MD,Count,1990,183,NaN

In [29]:
df = df[df['Unit']!= 'Count']

In [30]:
df

,Region,Subregion,country,iso3_code,Indicator,Disaggregation,Gender,Source,Unit,Year,Value,Footnote
9,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,"Rate per 100,000 population",2015,0.56,NaN
15,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,"Rate per 100,000 population",2016,0.59,NaN
21,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,"Rate per 100,000 population",2017,0.75,NaN
27,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,"Rate per 100,000 population",2018,0.85,NaN
33,Europe,Southern Europe,Albania,ALB,Homicide: # of victims,-,Female,MD,"Rate per 100,000 population",1992,0.87,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24273,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,MD,"Rate per 100,000 population",2012,6.39,NaN
24279,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,"Rate per 100,000 population",2015,4.83,NaN
24285,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,"Rate per 100,000 population",2016,5.36,NaN
24291,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,"Rate per 100,000 population",2017,5.31,NaN
24373,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Female,MD,"Rate per 100,000 population",1990,3.49,NaN

df["Value"] = pd.to_numeric(df["Value"], errors='coerce')
df_na = df[df['Value'].isna()]
df_na.to_csv('df_na.csv')

In [31]:
df = df.dropna(subset='Value')

In [ ]:
df

In [ ]:
df = df[df['Unit']!= 'Count']

In [ ]:
df = df.drop(columns=['Indicator', 'Disaggregation', 'Source', 'Unit', 'Gender', 'Footnote'])

In [ ]:
df.columns = [col.lower() for col in df.columns]

In [ ]:
df = df.rename(columns = {'value' : 'femicide_per_100k'})

In [ ]:
df["femicide_per_100k"] = pd.to_numeric(df["femicide_per_100k"], errors='coerce')

In [ ]:
df

In [ ]:
df

In [ ]:
df= df.astype({'region' : 'category', 'subregion' : 'category', 'year' : 'int64', 'femicide_per_100k' : 'float64' })

In [ ]:
df

In [ ]:
df.to_csv('df_cleaned.csv')